<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Dashboard</title>
  <script type="module" crossorigin src="{{.prefix}}/manager/assets/index-f7c35595.js"></script>
  <link rel="stylesheet" href="{{.prefix}}/manager/assets/index-803ad1a3.css">
    <script>
        window.TOKEN_KEY = "{{.token_key}}"
        window.INFO_KEY = "{{.info_key}}"
        window.LOGIN_URL = "{{.login_url}}"
        window.REQ_PREFIX = "{{.req_prefix}}"
    </script>
</head>

<body>
<div id="app"></div>

</body>

</html>